@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: poppins;
}

:root {
  --blue-theme: #3cb8ff;
  --gray-theme: rgb(165, 165, 165);
}

html {
  scroll-behavior: smooth;
}
html body {
  margin: 0;
  padding: 0;
  height: 100%;
}
html body .main-bg {
  z-index: -1;
  position: fixed;
  top: 0px;
  width: 100%;
  filter: blur(5px);
}
html body .navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 999;
  position: fixed;
  top: 0;
  height: 115px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
html body .navbar .menu-list {
  display: flex;
  margin: 0;
  padding: 0;
}
html body .navbar .menu-list .menu-item {
  list-style-type: none;
  padding: 2.8rem 1.3rem 0 1.3rem;
}
html body .navbar .menu-list .menu-item a {
  text-decoration: none;
  color: black;
}
html body .navbar .menu-list .menu-item:hover {
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}
html body .history-class {
  width: 100%;
}
html body .history-class .pic-con {
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}
html body .history-class .pic-con .pic {
  width: 70%;
  box-shadow: 0px 7px 15px black;
  border-radius: 10px;
}
html body .history-class .gray-line {
  height: 50px;
  background-image: linear-gradient(transparent, var(--gray-theme));
  margin-top: 120px;
}
html body .history-class .history-con {
  height: auto;
  width: 100%;
  background-color: var(--gray-theme);
}
html body .history-class .history-con .onhs-history {
  margin: 0px;
  padding: 40px;
}
html body .gray-line-2 {
  height: 50px;
  background-image: linear-gradient(var(--gray-theme), transparent);
}
html body .vismiss-class {
  padding-top: 200px;
  height: auto;
  width: 100%;
  text-align: center;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
html body .vismiss-class .title-con .title {
  margin: 0px;
  text-align: center;
}
html body .vismiss-class .vision-con .vision-title {
  margin-top: 100px;
}
html body .vismiss-class .mission-con {
  margin-top: 50px;
}
html body .vismiss-class .mission-con .mission span {
  font-weight: bold;
}
html body .vismiss-class .value-con {
  margin-top: 50px;
  padding-bottom: 100px;
  margin-bottom: 20px;
}
html body .blue-line {
  height: 30px;
  background-image: linear-gradient(transparent, var(--blue-theme));
}

@media only screen and (max-width: 1263px) {
  html body .main-bg {
    z-index: -1;
    position: fixed;
    top: 0px;
    width: 1263px;
    filter: blur(5px);
  }
}
@media only screen and (max-width: 570px) {
  html body .main-bg {
    z-index: -1;
    position: fixed;
    top: 0px;
    width: 900px;
    filter: blur(5px);
  }
  html body .history-class .history-con .onhs-history {
    padding: 20px;
    font-size: medium;
  }
}
@media only screen and (max-width: 440px) {
  html body .main-bg {
    z-index: -1;
    position: fixed;
    top: 0px;
    width: 700px;
    filter: blur(5px);
  }
  html body .navbar .menu-list .menu-item {
    font-size: small;
    list-style-type: none;
    padding: 2.8rem 1.3rem 0 1.3rem;
  }
  html body .history-class .history-con .onhs-history {
    padding: 20px;
    font-size: small;
  }
}/*# sourceMappingURL=about.css.map */