@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { font-family: poppins; }
:root {
    --blue-theme: #3cb8ff;
    --gray-theme: rgb(165, 165, 165);
}

html {
    scroll-behavior: smooth;

    body {
        margin: 0;
        padding: 0;
        height: 100%;

        .main-bg {
            z-index: -1;
            position: fixed;
            top: 0px;
            width: 100%;
            -webkit-filter: blur(5px);
            filter: blur(5px);
        }

        .navbar {
            width: 100%;
            display: flex;
            justify-content: space-around;
            z-index: 999;
            position: fixed;
            top: 0;
            height: 115px;
            backdrop-filter: blur(8px);

            .menu-list {
                display: flex;
                margin: 0;
                padding: 0;

                .menu-item {
                    list-style-type: none;
                    padding: 2.8rem 1.3rem 0 1.3rem;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
                .menu-item:hover {
                    transform: scale(1.1);
                    transition: all .1s ease-in-out;
                }
            }
        }
        .history-class {
            width: 100%;
            
            .pic-con {
                width: 100%;
                margin-top: 150px;
                display: flex;
                justify-content: space-around;

                .pic {
                    width: 70%;
                    box-shadow: 0px 7px 15px black;
                    border-radius: 10px;
                }
            }
            .gray-line {
                height: 50px;
                background-image: linear-gradient(transparent, var(--gray-theme));
                margin-top: 120px;
            }
            .history-con {
                height: auto;
                width: 100%;
                background-color: var(--gray-theme);
                
                
                .onhs-history {
                    margin: 0px;
                    padding: 40px
                }
            }
        }
        .gray-line-2 {
            height: 50px;
            background-image: linear-gradient(var(--gray-theme), transparent);
        }
        .vismiss-class {
            padding-top: 200px;
            height: auto;
            width: 100%;
            text-align: center;
            backdrop-filter: blur(15px);

            .title-con {
                .title {
                    margin: 0px;
                    text-align: center;
                }
            }
            .vision-con {

                .vision-title {
                    margin-top: 100px;
                }

                .vision {
                }
            }
            .mission-con {
                margin-top: 50px;

                .mission {

                    span {
                        font-weight: bold;
                    }
                }
            }
            .value-con {
                margin-top: 50px;
                padding-bottom: 100px;
                margin-bottom: 20px;
            }
        }
        .blue-line {
            height: 30px;
            background-image: linear-gradient(transparent, var(--blue-theme));
        }
    }
}

@media only screen and (max-width: 1263px) {
    html {

        body {

            .main-bg {
                z-index: -1;
                position: fixed;
                top: 0px;
                width: 1263px;
                -webkit-filter: blur(5px);
                filter: blur(5px);
            }
        }
    }
}

@media only screen and (max-width: 570px) {

    html {
        body {

            .main-bg {
                z-index: -1;
                position: fixed;
                top: 0px;
                width: 900px;
                -webkit-filter: blur(5px);
                filter: blur(5px);
            }

            .history-class {

                .history-con {

                    .onhs-history {
                        padding: 20px;
                        font-size: medium;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 440px) {

    html {

        body {

            .main-bg {
                z-index: -1;
                position: fixed;
                top: 0px;
                width: 700px;
                -webkit-filter: blur(5px);
                filter: blur(5px);
            }

            .navbar {

                .menu-list {

                    .menu-item {
                        font-size: small;
                        list-style-type: none;
                        padding: 2.8rem 1.3rem 0 1.3rem;
                    }
                }
            }

            .history-class {

                .history-con {
                    
                    .onhs-history {
                        padding: 20px;
                        font-size: small;
                    }
                }
            }
        }
    }
}